body {
    background-color: #FFDEB8;
}

.tasks {
    width: auto;
    padding-top: 45px;
    margin-left: 75px;
    color: #432818;
    font-size: 48px;
    font-family: "Freeman", serif;
    font-weight: 400;
    font-style: normal;

    ol {
        list-style-type: decimal;
    }
}

.btn {
    width: 400px;
    height: 200px;
    background-color: #9C6645;
    color: #FFF1E6;
    border: 0;
    border-radius: 50px;
    font-family: "Freeman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}